<h1>
  HTTP Request in JavaScript
  <span>a.k.a. AJAX</span>
</h1>

<button class="js-characters">Fetch Characters</button>

<button class="js-weapons">Fetch Weapons</button>

<button class="js-occupations">Fetch Occupations</button>

<form>
  Name: <input type="text" class="name">
  Weapon: <input type="text" class="weapon">
  Occupation: <input type="text" class="occupation">
</form>

<form>
  <button class="js-add-character" type="submit">SUBMIT</button>
</form>

<h3>The Team:</h3>
<ul class="js-character-list"></ul>

<h3>Their Weapons:</h3>
<ul class="js-character-weapon"></ul>

<h3>What they do:</h3>
<ul class="js-character-occupation"></ul>

