<select class="js-dropdown" name="select">
  <option value="murray">Door #1</option>
  <option value="busey">Door #2</option>
  <option value="chunk">Door #3</option>
  <option value="peter">Door #4</option>
</select>